
/*----------------Blue/Orange Stylesheet-------------------------*/
/*---------------------------------------------------------*/


/* Button Settings */
a.visbutton { background: #e59112;}a.visbutton { color: #ffffff!important;}
/* Background Color Settings */
 header.main-header { background-color: #1facc1;}
body {background: #f4f4f4; }  #outerwrap { background-color: #232b2d;}