
/*----------------Black Background Stylesheet-------------------------*/
/*---------------------------------------------------------*/


/* Background Color Settings */
 header.main-header { background-color: #ffffff;}
body {background: #ededed; }  #outerwrap { background-color: #ffffff;}

